<!doctype html>
<html lang='en'>

<head>
    <title>Vue.js Intro</title>
    <meta charset='utf-8'>
    <link href=data:, rel=icon>

    <script src='https://unpkg.com/vue@next' defer></script>
    <script src='shopping_script.js' defer></script>

    <style>
        [v-cloak] {
            display: none
        }
    </style>

</head>

<body>
    <h1>Vue.js Intro</h1>

    <div id='app' v-cloak>
        <label>Qnty <input type='number' v-model='itemQuantity'></label>
        <label>Item <input type='text' v-model='newItemName'></label>

        <button v-on:click='addToList'>Add To List</button>
        <!--
        <p v-if='newItemName != ""'>
            Newist Item: {{ newItemName }}
        </p>
-->
        <p></p>
        {{list}}
        <ul>
            <li v-for="oneItem, key, index in list">
                <button v-on:click="removeFromList(oneItemindex,  $event)">X</button>
                {{oneItem.index}} {{oneItem.quantity}} - {{ oneItem.item }}
            </li>
        </ul>

        <p v-if='list.length >0'>List Has {{list.length}} items </p>



        </p>



    </div>
</body>

</html>