<!doctype html>
<html lang='en'>

<head>
    <title>Vue.js P1 </title>
    <meta charset='utf-8'>
    <link href=data:, rel=icon>

    <script src='https://unpkg.com/vue@next' defer></script>
    <script src='script.js' defer></script>

    <style>
        [v-cloak] {
            display: none
        }

        /* Tables from https://css-tricks.com/complete-guide-table-element/ */
        table {
            border-collapse: collapse;
        }

        td,
        th {
            border: 1px solid #999;
            padding: 0.5rem;
            text-align: left;
        }

        table tbody tr:nth-child(2n) td {
            background: #edeef3;
        }

        .winner {
            color: green;
            font-size: 3rem;
        }

        .tie {
            color: rgb(134, 134, 134);
            font-size: 2rem;
        }

        .lost {
            color: red;
            font-size: 1rem;
        }
    </style>

</head>

<body>
    <h1>Prisoners Dilema </h1>


    <div id='app' v-cloak>

        <div v-if='gameState == "beginning"'>
            <h2> Prisoner's Dilema Gane</h2>
            <label>What is your name: <input type='text' v-model='name' v-on:keyup.enter='startGame'> </label>
            <button v-on:click='startGame'>Start Game</button>
        </div>


        <!-- Show game results when game is over.  Offer new match-->

        <div v-if='gameState == "gameOver"' id='game-results'>


            <h2>GameOver!</h2>

            <h3> Results</h3>

            <div class='feedback' v-bind:class='lastGameResult.displayClass'>
                Result: {{lastGameResult.result}}!
            </div>
            <button v-on:click='startGame'>Start Game</button>

        </div>




        <!-- Once Game Starts Show Controls -->


        <div v-if='gameState == "started" ' id='game-controls'>
            <button v-on:click='startGame'>Start Game</button>

            <h2> Choose Your Move</h2>


            <!-- Show buttons if game state not over-->

            <div v-if='gameState!="gameOver"'>
                <button v-on:click=' takeTurn("C")' id='cooperateButton' class="gameButton">Cooperate</button>
                <button v-on:click='takeTurn("D")' id='deffectButton' class="gameButton"> Defect (Don't
                    Cooperate)</button>
            </div>
        </div>


        <!--The Game History Table -->


        <div v-if='gameDetails.length>=1' id='game-history'>

            <h2>Round History</h2>

            <!-- Loop through and display Turn History-->

            <table>
                <thead>
                    <tr>
                        <th>Turn</th>
                        <th>{{name}}'s Move</th>
                        <th>Computer Move</th>
                        <th>{{name}}'s Score</th>
                        <th>Computer Score</th>
                        <th>{{name}}'s Game Score</th>
                        <th>Computer Game Score</th>
                        <th>Reset To Round</th>

                    </tr>
                </thead>
                <tbody>

                    <!-- Tables are a exception for components...thus the v-is construct-->

                    <tr v-is="'turn-detail'" v-for='oneTurn in gameDetails.slice().reverse()'
                        v-bind:key='oneTurn.number' v-bind:turn='oneTurn.turn' v-bind:human-move='oneTurn.humanMove'
                        v-bind:computer-move='oneTurn.computerMove' v-bind:human-turn-score='oneTurn.humanTurnScore'
                        v-bind:computer-turn-score='oneTurn.computerTurnScore'
                        v-bind:human-game-score='oneTurn.humanGameScore'
                        v-bind:computer-game-score='oneTurn.computerGameScore' v-bind:game-state='gameState'
                        v-on:goback-round='goBackToRound($event)'>
                    </tr>
                </tbody>
            </table>

        </div>





    </div>





    <!--  COMPONENTS --->


    <script id='turn-detail' type='text/x-template'>
             <tr>
                <td> {{ turn }}</td>
                <td><b> {{ humanMove }}</b></td>
                <td> {{ computerMove }}</td>
                <td><b>{{ humanTurnScore }}</b></td>
                <td> {{ computerTurnScore }}</td>
                <td><b> {{ humanGameScore }}</b></td>
                <td> {{ computerGameScore }}</td>
                <td> <button v-if='gameState!="gameOver"' v-on:click='$emit("goback-round", turn)'>Redo from {{ turn }}</button></td>
            
            </tr>
    </script>


</body>

</html>