<!doctype html>
<html lang='en'>

<head>
    <title>Vue.js P1 </title>
    <meta charset='utf-8'>
    <link href=data:, rel=icon>

    <script src='https://unpkg.com/vue@next' defer></script>
    <script src='script.js' defer></script>

    <style>
        [v-cloak] {
            display: none
        }
    </style>

</head>

<body>
    <h1>Prisoners Dilema </h1>


    <div id='app' v-cloak>

        <div v-if='gameState == "beginning"'>
            <h2> Prisoner's Dilema Gane</h2>
            <label>What is your name: <input type='text' v-model='name' v-on:keyup.enter='startGame'> </label>
            <button v-on:click='startGame'>Start Game</button>
        </div>




        <div v-if='gameState == "started"' id='game-history'>
            <button v-on:click='startGame'>Start Game</button>

            <h2> Prisoners Dilema</a>






                <button v-on:click='takeTurn("C")' id='cooperateButton' class="gameButton">Cooperate</button>
                <button v-on:click='takeTurn("D")' id='deffectButton' class="gameButton"> Defect (Don't
                    Cooperate)</button>

                <h2>Round History</h2>

                <!-- Loop through and display Turn History-->

                <turn-detail v-for='oneTurn in gameDetails' v-bind:key='oneTurn.number' v-bind:turn='oneTurn.turn'
                    v-bind:human-move='oneTurn.humanMove' v-bind:computer-move='oneTurn.computerMove'
                    v-bind:human-turn-score='oneTurn.humanTurnScore'
                    v-bind:computer-turn-score='oneTurn.computerTurnScore' v-on:delete-round='deleteRound($event)'>

                    <template v-slot:coin>The coin landed on {{ oneTurn.comuterMove }}</template>
                </turn-detail>
        </div>


        <div v-if='gameState == "gameOver"' id='game-results'>


            <h2>GameOver</h2>



        </div>


    </div>





    <!--  COMPONENTS --->


    <script id='turn-detail' type='text/x-template'>
        <div>
            <ul style="list-style: none">
                <li>Turn #: {{ turn }}</li>
                <li>Your Move: {{ humanMove }}</li>
                <li>Computer Move: {{ computerMove }}</li>
                <li>Your Score: {{ humanTurnScore }}</li>
                <li>Computer score: {{ computerTurnScore }}</li>


                <li><slot name='coin'></slot></li>
            </ul>
            <button v-on:click='$emit("delete-round", turn)'>Delete from history</button>
        </div>
    </script>


</body>

</html>